<div class='projects-container'>
  <% @projects.each do |project| %>
    <div class='project'>
      <%= link_to(project) do %>
        <div class='project-head-divison'>
        </div>
        <div class='project-avatar'>
          <%= image_tag(project.avatar) %>
        </div>
        <div class='project-desc'>
          <div class='project-title'>
            <%= project.title.capitalize %>
          </div>
          <div class='project-year'>
            <%= project.year %>
          </div>
          <div class='project-subtitle'>
            <%= project.subtitle %>
          </div>
        </div>
        <div class='project-foot-divison'>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
